.bootTips {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .pic {
    position: absolute;
    right: 35px;
    top: 35px;
    width: 509px;
    height: auto;
  }
}
