@import 'styles/variables.module.scss';

.dotAnimate {
  position: absolute;
  width: 106px;
  height: 38px;
  background: url('/images/active_dot.png') no-repeat center center / 106px 38px;
}

.container {
  min-height: 100vh;
  background: #000c2d;
  color: #fff;

  .formulaBox {
    height: 70px;
    margin-top: 80px;
    text-align: center;
    line-height: 70px;
    background: linear-gradient(270deg, rgb(66, 247, 255, 0.15) 0%, #000d2d 100%);
    border-radius: 7px;
    color: #42f7ff;
  }

  .rewardRule1 {
    margin: 20px 50px 0;
    text-align: center;
    line-height: 70px;
    font-size: 34px;
    font-weight: 400;
  }

  .feeDec {
    text-align: center;
    line-height: 70px;
    font-size: 34px;
    font-weight: 400;
  }

  .topTips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: url('/images/back_classfi1.png') no-repeat center,
      url('/gif/neurons.gif') no-repeat 560px 150px;
    background-size: 690px 260px, 300px 300px;
    line-height: 60px;
    font-weight: 600;
    font-size: 34px;

    .dotAnimate {
      animation: UpAndDownMove1 12s infinite linear;
    }
  }

  .rewardRulesusdt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    background: url('/images/back_classfi5.png') no-repeat center,
      url('/gif/neurons.gif') no-repeat 550px -70px;
    background-size: 695px 526px, 300px 300px;
    font-weight: 400;
    font-size: 34px;

    .dotAnimate {
      animation: UpAndDownMove2 12s infinite linear;
    }

    .formulaBox {
      width: 455px;
    }

    .line {
      width: 614px;
      height: 1px;
      margin: 30px 0;
      opacity: 0.32;
      border: 2px solid;
      border-image: linear-gradient(
          90deg,
          rgba(0, 150, 255, 0),
          rgba(56, 247, 255, 1),
          rgba(56, 247, 255, 1),
          rgba(0, 150, 255, 0)
        )
        2 2;
    }
  }

  .rulesBox {
    position: relative;
    height: 1350px;
    background: url('/images/back_classfi8.png') no-repeat;
    background-size: 100% 272px;
    background-position-y: 1130px;

    .dotAnimate {
      left: 0;
      bottom: 44px;
      animation: leftToRight2 8s infinite linear;
    }

    .rules {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 1290px;
      margin: 0 30px;
      background: url('/images/back_classfi9.png') no-repeat center;
      background-size: 100% 100%;

      .rulesDec {
        padding: 30px 0;
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        color: #fff;
        line-height: 60px;
      }

      .line {
        width: 614px;
        height: 1px;
        opacity: 0.32;
        border: 2px solid;
        border-image: linear-gradient(
            90deg,
            rgba(0, 150, 255, 0),
            rgba(56, 247, 255, 1),
            rgba(56, 247, 255, 1),
            rgba(0, 150, 255, 0)
          )
          2 2;
      }
    }
  }

  .amountBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 34px;
    background: url('/gif/neurons.gif') no-repeat -160px 140px;
    background-size: 300px 300px;

    .amountTips {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      padding: 70px 0;
      background: url('/images/back_classfi6.png') no-repeat;
      background-size: 693px 202px;
      background-position: center;
      text-align: center;
      line-height: 60px;

      .dotAnimate {
        animation: UpAndDownMove3 12s infinite linear;
      }
    }

    .standardTitle {
      font-weight: 400;
      color: #42f7ff;
    }

    .chartsBox {
      position: relative;
      width: 690px;
      height: 380px;
      margin-top: 20px;
    }

    .explainText {
      margin-top: 15px;
      font-size: 23px;
      font-weight: 400;
      color: #42f7ff;
    }
  }

  .priceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 34px;
    background: url('/gif/neurons.gif') no-repeat 580px 210px;
    background-size: 300px 300px;

    .priceTips {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 70px 0;
      background: url('/images/back_classfi6.png') no-repeat;
      background-size: 693px 262px;
      background-position: center;
      text-align: center;
      line-height: 60px;

      .dotAnimate {
        animation: UpAndDownMove4 12s infinite linear;
      }
    }

    .standardTitle {
      font-weight: 400;
      color: #42f7ff;
    }

    .chartsBox {
      position: relative;
      width: 690px;
      height: 580px;
      margin-top: 20px;
    }
  }

  .rewardRuleswkt {
    padding-top: 60px;
    background: url('/gif/neurons.gif') no-repeat -180px -120px;
    background-size: 300px 300px;
    .rewardRulesTips {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      background: url('/images/back_classfi6.png') no-repeat 0 0;
      background-size: 100% 100%;
      background-position: center;

      .dotAnimate {
        border: 1px solid #fff;
        background: url('/images/active_dot.png') no-repeat center center / 106px 38px;
        // animation: UpAndDownMove5 12s infinite linear;
      }

      .feeBox {
        display: inline-block;
        padding: 24px 50px;
        margin: 30px auto 20px;
        font-size: 40px;
        font-weight: bold;
        color: $theme-light-color;
        text-align: center;
        background: #082e4b;
        border-radius: 10px;
      }
    }

    .wktDec {
      display: flex;
      flex-direction: column;
      align-items: center;
      .visionBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 60px auto 100px;
        overflow: hidden;

        .gifAnimate {
          width: 100%;
          height: 60px;
          margin: 20px;
          background: url('/gif/racetrack.gif') no-repeat;
          background-size: 100% 100%;
          animation: leftToRight 8s infinite linear;
        }
        .mirror {
          animation: rightToLeft 8s infinite linear;
        }

        .vision {
          text-align: center;
          font-size: 38px;
          line-height: 53px;
        }
      }
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes leftToRight2 {
  from {
    left: 0;
  }

  to {
    left: calc(100% - 110px);
  }
}

@keyframes UpAndDownMove1 {
  0% {
    transform: translate3d(-320px, 130px, 0);
    opacity: 1;
  }
  35% {
    transform: translate3d(280px, 128px, 0);
    opacity: 1;
  }
  40% {
    transform: translate3d(320px, 128px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(320px, -128px, 0);
    opacity: 0;
  }
  52% {
    transform: translate3d(300px, -128px, 0);
    opacity: 1;
  }
  85% {
    transform: translate3d(-280px, -128px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(-320px, -128px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-300px, 128px, 0);
    opacity: 0;
  }
}

@keyframes UpAndDownMove2 {
  0% {
    transform: translate3d(-320px, 528px, 0);
    opacity: 1;
  }
  35% {
    transform: translate3d(280px, 528px, 0);
    opacity: 1;
  }
  40% {
    transform: translate3d(320px, 528px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(320px, 5px, 0);
    opacity: 0;
  }
  52% {
    transform: translate3d(300px, 5px, 0);
    opacity: 1;
  }
  85% {
    transform: translate3d(-280px, 5px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(-320px, 5px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-300px, 528px, 0);
    opacity: 0;
  }
}

@keyframes UpAndDownMove3 {
  0% {
    transform: translate3d(-320px, 100px, 0);
    opacity: 1;
  }
  35% {
    transform: translate3d(280px, 100px, 0);
    opacity: 1;
  }
  40% {
    transform: translate3d(320px, 100px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(320px, -102px, 0);
    opacity: 0;
  }
  52% {
    transform: translate3d(300px, -102px, 0);
    opacity: 1;
  }
  85% {
    transform: translate3d(-280px, -102px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(-320px, -102px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-300px, 100px, 0);
    opacity: 0;
  }
}

@keyframes UpAndDownMove4 {
  0% {
    transform: translate3d(-320px, 130px, 0);
    opacity: 1;
  }
  35% {
    transform: translate3d(280px, 130px, 0);
    opacity: 1;
  }
  40% {
    transform: translate3d(320px, 130px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(320px, -130px, 0);
    opacity: 0;
  }
  52% {
    transform: translate3d(300px, -130px, 0);
    opacity: 1;
  }
  85% {
    transform: translate3d(-280px, -130px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(-320px, -130px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-300px, 130px, 0);
    opacity: 0;
  }
}

// @keyframes UpAndDownMove5 {
//   0% {
//     transform: translate3d(-320px, -50px, 0);
//     opacity: 1;
//   }
//   35% {
//     transform: translate3d(320px, -50px, 0);
//     opacity: 1;
//   }
//   36% {
//     transform: translate3d(320px, -50px, 0);
//     opacity: 0;
//   }
//   49% {
//     transform: translate3d(320px, 300px, 0);
//     opacity: 0;
//   }
//   50% {
//     transform: translate3d(320px, 300px, 0);
//     opacity: 1;
//   }
//   85% {
//     transform: translate3d(-320px, 300px, 0);
//     opacity: 1;
//   }
//   86% {
//     transform: translate3d(-320px, 300px, 0);
//     opacity: 0;
//   }
//   100% {
//     transform: translate3d(-320px, 300px, 0);
//     opacity: 0;
//   }
// }
