@import 'styles/variables.module.scss';

.container {
  display: flex;
  flex-wrap: wrap;

  .label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 20px;

    .dotAnimate {
      position: absolute;
      width: 56px;
      height: 30px;
      background: url('/images/active_dot.png') no-repeat center center / 56px 30px;
      animation: UpAndDownMove 8s infinite linear;
    }

    &.iconVideoMachine {
      background: url('/images/icon_camera.png') no-repeat;
      background-size: contain;
    }

    &.iconCamera {
      background: url('/images/icon_camera.png') no-repeat;
      background-size: contain;
    }

    .tip {
      margin-top: 10px;
      color: #222;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
@keyframes UpAndDownMove {
  0% {
    transform: translate3d(-50px, 67px, 0);
    opacity: 1;
  }
  35% {
    transform: translate3d(40px, 67px, 0);
    opacity: 1;
  }
  40% {
    transform: translate3d(50px, 67px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(50px, -65px, 0);
    opacity: 0;
  }
  52% {
    transform: translate3d(45px, -65px, 0);
    opacity: 1;
  }
  85% {
    transform: translate3d(-40px, -65px, 0);
    opacity: 1;
  }
  90% {
    transform: translate3d(-50px, -65px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-45px, 65px, 0);
    opacity: 0;
  }
}
