.toast {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
  text-align: center;

  span {
    display: inline-block;
    max-width: 80%;
    padding: 20px;
    color: #38f7ff;
    font-size: 36px;
    font-weight: 500;
    background: #000c2d;
    border: 1px solid #000;
    line-height: 50px;
    border-image-source: url(./images/toast_bg.png);
    border-image-slice: 89;
    border-image-width: 90px 90px 90px 90px;
    border-image-outset: 30px;
    border-image-repeat: repeat;
  }
}
.bottom {
  bottom: 160px;
}
.top {
  top: 160px;
}
.middle {
  top: 50%;
  transform: translateY(-50%);
}
