@import 'styles/variables.module.scss';

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  width: 100%;
  height: 440px;
}

.mainVideo {
  width: 100%;
  height: auto;
}
