.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activeDot {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 60px;
  height: 30px;
  background: url('/images/active_dot3.png') no-repeat -5px -3px / 100% 100%;
}
