.downloadWrap {
  position: relative;
  width: 500px;
  height: 104px;
  margin: 20px auto 0;
  text-align: center;
  color: #42f7ff;
  font-size: 38px;
  line-height: 104px;
  background: url('/images/icon_btn_back.png') no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s;
  font-weight: 600;

  &:active {
    transform: scale(0.9);
  }
}

.bootTips {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .pic {
    position: absolute;
    right: 35px;
    top: 35px;
    width: 509px;
    height: auto;
  }
}
